[Unit]
Description=Bg Startup

[Service]
ExecStart=/usr/local/sbin/bgstartup.sh $USER
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
