[Unit]
Description=Bg Startup

[Service]
ExecStart=username=$USER /usr/local/sbin/bgstartup.sh
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target
